@media (max-width: 1000px) {
    .site-wrapper{
        width: 100%;
        .page-wrapper{
            width: 100%;
        }
        .main-wrapper{
            width: 100%;
            display: block;
        }
        header{
            .logo-wrapper{
                width: 30%;
            }
            .email{
                display: none;
            }
            .search{
                display: none;
            }
            .phones{
                display: none;
                min-width: auto;
                .icon-wrapper{
                    display: none;
                }
                .phones-list{
                    a{
                        font-size: 12px;
                        padding: 3px;
                    }
                }
            }

            .phones-mobile{
                display: block;
                
                a{
                    display: block;
                    margin: 8px 0;
                    text-decoration: none;
                    color: #000;
                    font-size: 14px;
                    font-weight: 600;
                    position: relative;

                    span{
                        position: absolute;
                        top:16px;
                        right:0px;
                        font-size: 11px;
                        font-weight: 400;
                    }
                }
            }

            .basket{
                .icon-wrapper{
                    margin-right: 0;
                }
                .baket-caption, .baket-empty-caption{
                    display: none;
                }
            }

        }

        .slider-wrapper{
            display: none;
        } 

        .menu-wrapper{
            .mobile-toogle-nav{ 
                height: 47px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                

                .mobile-toogle-nav-title{
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 600;
                }
        
                .mobile-toogle-nav-btn{
                    display: flex;
                    cursor: pointer;
                    width: 28px;
                    height: 28px;
                    padding: 4px 0;
                    box-sizing: border-box;
                    justify-content: space-between;
                    flex-direction: column;
                    position: relative;
        
                    span {
                        height:2px;
                        width:100%;
                        background-color:#ffffff;
                        transition:0.2s;
                        display: block;
                    }
                }


            }
            nav{
                display: none;

                &.active{
                    display: block;
                }
                flex-direction: column;
                .catalog-toggle{
                    width: 100%;
                    a{
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .main-wrapper {
            main{
                padding-right: 10px;
                padding-left:10px;

                .mainpage-banners{

                    a{
                        width: 100%;
                        min-height: 160px;
                        margin-bottom: 20px;
                    }
                }
                .main-text-wrapper{
                    display: block;

                    .catalog-element-item{
                        .catalog-element-info{
                            display: block;

                            .slider-image-wrapper{
                                width: 100%;
                                img{
                                    width: 100%;
                                }
                            }

                            .catalog-element-description{
                                width: 100%;
                                .catalog-buy-buttons{
                                    justify-content: flex-start;
                                    .buy-count-buttons{
                                        margin-right: 10px;
                                    }
                                    .btn-whatsapp{
                                        display: none;
                                    }
                                }

                                .catalog-callback-buttons{
                                    display: flex; 
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin:20px 0;
                                    gap:10px;

                                    .btn-whatsapp{
                                        color: #000;
                                        display: flex;
                                        border:1px solid #009047;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 4px;
                                        padding: 0 10px;
                                        text-decoration: none;
                                        img{
                                            width: 35px;
                                        }
                                    }

                                    #call-back-button{
                                        display: flex;
                                        background: #009047;
                                        color: #ffffff;
                                         justify-content: center;
                                        border-radius: 4px;
                                        height: 37px;
                                    }
                                }

                                .catalog-alter-variants{

                                }
                            }
                        }
                    }

                    .basket-wraper{
                        .basket-items-wrapper{
                            .basket-catalog-item{
                                .backet-image{
                                    width: 20%;
                                }

                                .backet-item-name{
                                    width: 35%;
                                }

                                .basket-item-price{
                                    display: none;
                                }
                            }
                        }

                        .basket-order-wrapper{
                            display: block;
                            .basket-form-wrapper{
                                width: 100%;
                                .basket-form-payment-delivery{
                                    display: block;
                                    .basket-form-payment-wrapper{
                                        width: 100%;
                                    }
                                    .basket-form-delivery-wrapper{
                                        width: 100%;
                                    }
                                }

                                .basket-form-user-wrapper{
                                    margin-bottom: 10px;
                                }

                                
                            }
                        }

                        .basket-total{
                            width: 100%;
                        }
                    }
                }

                .features-wrapper{
                    display: none;
                }

                .catalog-list{
                    .catalog-items{
                        &.square{
                            grid-template-columns: repeat(2, 1fr);
                        }
                    }
                }
            }
            aside{
                margin-bottom: 0;
                .news-preview{
                    display: none;
                }
                .catalog-left-menu{
                    display: none;
                }
            }
        }

        footer{
            padding-left: 10px;
            padding-right: 10px;
            .footer-menu{
                display: none;
            }
            .logo-wrapper{
                width: 30%;
            }
            .phones{
                width: 70%;
                justify-content: flex-end;
                img{
                    display: none;
                }
            }
        }
    }

    
    
}